<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= genre.name %></title>
		<link rel="shortcut icon" href="assets/logo.svg" type="image/x-icon" />
		<link rel="stylesheet" href="/sass/main.css" />
		<script type="module" src="/scripts/dialogueController.js"></script>
		<script type="module" src="/scripts/form-handlers/editGenreFormHandler.js"></script>
	</head>
	<body class="site">
		<div id="root" class="site__wrapper">
			<%- include("../partials/navigation", { backAnchor: true }) %>
			<main class="site__content">
				<article>
					<header class="page-header">
						<h1 id="title" class="page-header__heading"><%= genre.name %></h1>
						<nav aria-label="Genre actions" class="page-header__actions">
							<div class="dialogue-wrapper">
								<dialog id="edit-genre-dialog" aria-labelledby="edit-genre-title" class="dialogue">
									<div class="dialogue__container">
										<header class="dialogue__header">
											<h2 id="edit-genre-title" class="dialogue__heading small">
												Editing <%= genre.name %>
											</h2>
										</header>
										<section class="dialog__content">
											<form
												id="edit-genre"
												class="method-override-wrapper"
												action="/genres/<%= genre.id %>/<%= genre.slug %>?_method=PUT"
												method="POST"
												class="form"
											>
												<div class="form__field">
													<label class="form__label" for="genre">Genre name*</label>
													<input
														class="form__input form__input--alphanum"
														type="text"
														name="genre"
														id="genre"
														value="<%= genre.name %>"
														required
													/>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
												<div class="form__field">
													<label class="form__label" for="description">Desciption</label>
													<textarea
														class="form__input form__input--alphanum form__input--textarea"
														name="description"
														id="description"
														cols="40"
														rows="5"
													>
<%= genre.description %></textarea
													>
													<span class="form__char-count"><%= genre.description.length %>/280</span>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
											</form>
										</section>
										<footer class="dialogue__actions">
											<button autofocus aria-label="Close dialog" class="form__button btn">
												Close
											</button>
											<button
												form="edit-genre"
												type="submit"
												aria-label="Save changes"
												class="form__button form__button--submit btn"
											>
												Save changes
											</button>
										</footer>
									</div>
								</dialog>
								<button aria-haspopup="dialog" aria-controls="edit-genre-dialog" class="btn">
									Edit
								</button>
							</div>
							<div class="dialogue-wrapper">
								<dialog
									id="delete-genre-dialog"
									aria-labelledby="delete-genre-title"
									aria-describedby="delete-genre-description"
									class="dialogue"
								>
									<div class="dialogue__container">
										<header class="dialogue__header">
											<h2 id="delete-genre-title" class="dialogue__heading small">
												Delete <%= genre.name %>?
											</h2>
										</header>
										<section class="dialog__content">
											<p id="delete-genre-description">
												This will remove the <%= genre.name %> genre from <%= books.length %> books.
											</p>
										</section>
										<footer class="dialogue__actions">
											<button autofocus aria-label="Close dialog" class="form__button btn">
												Close
											</button>
											<form
												action="/genres/<%= genre.id %>/<%= genre.slug %>?_method=DELETE"
												method="POST"
												class="form method-override-wrapper"
											>
												<button
													type="submit"
													aria-label="Delete genre"
													class="form__button form__button--delete btn"
												>
													Delete
												</button>
											</form>
										</footer>
									</div>
								</dialog>
								<button aria-haspopup="dialog" aria-controls="delete-genre-dialog" class="btn">
									Delete
								</button>
							</div>
						</nav>
					</header>
					<div class="item-info">
						<p class="item-info__description"><%= genre.description %></p>
					</div>
				</article>
				<hr />
				<%- include("../partials/booksTable", { caption: `${genre.name} books`, books }) %>
			</main>
		</div>
	</body>
</html>
