<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= book.title %></title>
		<link rel="shortcut icon" href="assets/logo.svg" type="image/x-icon" />
		<link rel="stylesheet" href="/sass/main.css" />
		<script type="module" src="/scripts/dialogueController.js"></script>
		<script type="module" src="/scripts/form-handlers/editBookFormHandler.js"></script>
	</head>
	<body class="site">
		<div id="root" class="site__wrapper">
			<%- include("../partials/navigation", { backAnchor: true }) %>
			<main class="site__content">
				<article>
					<header class="page-header">
						<h1 id="book-title" class="page-header__heading"><%= book.title %></h1>
						<nav aria-label="Book actions" class="page-header__actions">
							<div class="dialogue-wrapper">
								<dialog id="edit-book-dialog" aria-labelledby="edit-book-title" class="dialogue">
									<div class="dialogue__container">
										<header class="dialogue__header">
											<h2 id="edit-book-title" class="dialogue__heading small">
												Editing <%= book.title %>
											</h2>
										</header>
										<section class="dialog__content">
											<form
												id="edit-book"
												class="form method-override-wrapper"
												action="/books/<%= book.id %>/<%= book.slug %>?_method=PUT"
												method="POST"
												class="form"
											>
												<div class="form__field">
													<label class="form__label" for="title">Book title*</label>
													<input
														class="form__input form__input--alphanum"
														value="<%= book.title %>"
														type="text"
														name="title"
														id="title"
														required
													/>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
												<div class="form__field">
													<label class="form__label" for="author">Author*</label>
													<input
														class="form__input form__input--alphanum"
														value="<%= book.author %>"
														type="text"
														name="author"
														id="author"
														placeholder="Start typing to show suggestions"
														required
													/>
													<ul id="author-suggestions" class="form__input-suggestions"></ul>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
												<div class="form__field">
													<label class="form__label" for="genres">Genre(s)*</label>
													<input class="form__input form__input--alphanum" value="<%=
													book.genres.map(genre => genre.name).join(", ") %>" type="text"
													name="genres" id="genres" placeholder="Start typing to show suggestions"
													required />
													<ul id="genre-suggestions" class="form__input-suggestions"></ul>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
												<div class="form__field">
													<label class="form__label" for="publication-year">Publication year</label>
													<input
														class="form__input form__input--alphanum"
														value="<%= book.publication_year %>"
														type="number"
														name="publicationYear"
														id="publication-year"
														max="<%= new Date().getFullYear() %>"
													/>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
												<div class="form__field form__field--radio">
													<div class="form__radio-option-wrapper">
														<input class="form__input form__input--radio" type="radio" id="fiction"
														name="isFiction" value="true" <%= book.is_fiction ? "checked" : ""%> />
														<label class="form__label--radio" for="fiction">Fiction</label>
													</div>
													<div class="form__radio-option-wrapper">
														<input class="form__input form__input--radio" type="radio"
														id="non-fiction" name="isFiction" value="false" <%= !book.is_fiction ?
														"checked" : ""%>/>
														<label class="form__label--radio" for="non-fiction">Non-fiction</label>
													</div>
												</div>
												<div class="form__field">
													<label class="form__label" for="description">Blurb</label>
													<textarea
														class="form__input form__input--alphanum form__input--textarea"
														name="description"
														id="description"
														cols="40"
														rows="5"
													>
<%= book.blurb %></textarea
													>
													<span class="form__char-count"><%= book.blurb.length %>/280</span>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
											</form>
										</section>
										<footer class="dialogue__actions">
											<button autofocus aria-label="Close dialog" class="form__button btn">
												Close
											</button>
											<button
												form="edit-book"
												type="submit"
												aria-label="Save changes"
												class="form__button form__button--submit btn"
											>
												Save changes
											</button>
										</footer>
									</div>
								</dialog>
								<button aria-haspopup="dialog" aria-controls="edit-book-dialog" class="btn">
									Edit
								</button>
							</div>
							<div class="dialogue-wrapper">
								<dialog
									id="delete-book-dialog"
									aria-labelledby="delete-book-title"
									aria-describedby="delete-book-description"
									class="dialogue"
								>
									<div class="dialogue__container">
										<header class="dialogue__header">
											<h2 id="delete-book-title" class="dialogue__heading small">
												Delete <%= book.title %>?
											</h2>
										</header>
										<section class="dialog__content">
											<p id="delete-book-description">
												This will permanently delete <%= book.title %>.
											</p>
										</section>
										<footer class="dialogue__actions">
											<button autofocus aria-label="Close dialog" class="form__button btn">
												Close
											</button>
											<form
												action="/books/<%= book.id %>/<%= book.slug %>?_method=DELETE"
												method="POST"
												class="form method-override-wrapper"
											>
												<button
													type="submit"
													aria-label="Delete book"
													class="form__button form__button--delete btn"
												>
													Delete
												</button>
											</form>
										</footer>
									</div>
								</dialog>
								<button aria-haspopup="dialog" aria-controls="delete-book-dialog" class="btn">
									Delete
								</button>
							</div>
						</nav>
					</header>
					<dl class="description-list">
						<div class="description-list__item">
							<dt class="description-list__term">Author</dt>
							<dd class="description-list__description">
								<a href="/authors/<%= book.author_id %>/<%= book.author_slug %>">
									<%= book.author %>
								</a>
							</dd>
						</div>
						<div class="description-list__item">
							<dt class="description-list__term">Published</dt>
							<dd class="description-list__description">
								<% if (book.publication_year) { %>
								<a href="/decades/<%= Math.floor(book.publication_year / 10) %>0s">
									<%= book.publication_year %>
								</a>
								<% } else { %>
								<span>Unknown</span>
								<% } %>
							</dd>
						</div>
						<div class="description-list__item">
							<dt class="description-list__term">Genre</dt>
							<dd class="description-list__description">
								<% book.genres.map((genre) => { %>
								<a href="/genres/<%= genre.id %>/<%= genre.slug %>"><%= genre.name %></a>
								<% }) %>
							</dd>
						</div>
					</dl>
					<p><%= book.blurb %></p>
				</article>
				<hr />
				<section>
					<h2>More books by <%= book.author %></h2>
					<ul>
						<% moreBooksByAuthor.map(book => { %>
						<li>
							<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
						</li>
						<% }) %>
					</ul>
				</section>
				<hr />
				<section>
					<h2>More <%= featuredGenre.name %> books</h2>
					<ul>
						<% moreBooksByGenre.map(book => { %>
						<li>
							<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
						</li>
						<% }) %>
					</ul>
				</section>
				<hr />
				<section>
					<h2>More books from the <%= decade %>s</h2>
					<ul>
						<% moreBooksByDecade.map(book => { %>
						<li>
							<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
						</li>
						<% }) %>
					</ul>
				</section>
				<hr />
			</main>
		</div>
	</body>
</html>
