  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Inventory | <%= book.title %></title>
      <link rel="stylesheet" href="/styles/index.css" />
      <link rel="stylesheet" href="/styles/form.css" />
      <script type="module" src="/scripts/dialogueController.js"></script>
      <script type="module" src="/scripts/form-handlers/editBookFormHandler.js"></script>
    </head>
    <body>
      <%- include("../partials/header", { backAnchor: true }) %>
      <main>
      <article>
        <header>
          <h1 id="book-title"><%= book.title %></h1>
          <nav aria-label="Book actions">
            <div class="dialogue-wrapper">
              <dialog
                id="edit-book-dialog"
                aria-labelledby="edit-book-title"
              >
                <header>
                  <h2 id="edit-book-title">Editing <%= book.title %></h2>
                </header>
                <section>
                  <form
                    id="edit-book"
                    class="method-override-wrapper"
                    action="/books/<%= book.id %>/<%= book.slug %>?_method=PUT"
                    method="POST"
                  >
                    <div class="field">
                      <label for="title">Book title*</label>
                      <input value="<%= book.title %>" type="text" name="title" id="title" required />
                      <span class="field-message"></span>
                    </div>
                    <div class="field">
                      <label for="author">Author*</label>
                      <input
                        value="<%= book.author %>"
                        type="text"
                        name="author"
                        id="author"
                        placeholder="Start typing to show suggestions"
                        required
                      />
                      <span class="field-message"></span>
                      <ul id="author-suggestions"></ul>
                    </div>
                    <div class="field">
                      <label for="genres">Genre(s)*</label>
                      <input
                        value="<%= book.genres.map(genre => genre.name).join(", ") %>"
                        type="text"
                        name="genres"
                        id="genres"
                        placeholder="Start typing to show suggestions"
                        required
                      />
                      <span class="field-message"></span>
                      <ul id="genre-suggestions"></ul>
                    </div>
                    <div class="field">
                      <label for="publication-year">Publication year</label>
                      <input
                        value="<%= book.publication_year %>"
                        type="number"
                        name="publicationYear"
                        id="publication-year"
                        max="<%= new Date().getFullYear() %>"
                      />
                      <span class="field-message"></span>
                    </div>
                    <div class="field">
                      <div class="radio-option">
                        <input type="radio" id="fiction" name="isFiction" value="true" checked />
                        <label for="fiction">Fiction</label>
                      </div>
                      <div class="radio-option">
                        <input type="radio" id="non-fiction" name="isFiction" value="false" />
                        <label for="non-fiction">Non-fiction</label>
                      </div>
                    </div>
                    <div class="field">
                      <label for="description">Blurb</label>
                      <textarea name="description" id="description" cols="40" rows="8"><%= book.blurb %></textarea>
                      <span class="field-message"></span>
                      <span class="char-count"><%= book.blurb.length %>/280</span>
                    </div>
                  </form>
                </section>
                <footer class="dialogue-actions">
                  <button autofocus aria-label="Close dialog">Close</button>
                  <button form="edit-book" type="submit" aria-label="Save changes">Save</button>
                </footer>
              </dialog>
              <button aria-haspopup="dialog" aria-controls="edit-book-dialog">Edit</button>
            </div>
            <div class="dialogue-wrapper">
              <dialog
                id="delete-book-dialog"
                aria-labelledby="delete-book-title"
                aria-describedby="delete-book-description"
              >
                <header>
                  <h2 id="delete-book-title">Delete <%= book.title %>?</h2>
                </header>
                <section>
                  <p id="delete-book-description">This will permanently delete <%= book.title %>.</p>
                </section>
                <footer class="dialogue-actions">
                  <button autofocus aria-label="Close dialog">Close</button>
                  <form
                    class="method-override-wrapper"
                    action="/books/<%= book.id %>/<%= book.slug %>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" aria-label="Delete book">Delete</button>
                  </form>
                </footer>
              </dialog>
              <button aria-haspopup="dialog" aria-controls="delete-book-dialog">Delete</button>
            </div>
          </nav>
        </header>
        <dl>
          <div>
            <dt>Author</dt>
            <dd>
              <a href="/authors/<%= book.author_id %>/<%= book.author_slug %>">
                <%= book.author %>
              </a>
            </dd>
          </div>
          <div>
            <dt>Published</dt>
            <dd>
              <% if (book.publication_year) { %>
                <a href="/decades/<%= Math.floor(book.publication_year / 10) %>0s">
                  <%= book.publication_year %>
                </a>
                <% } else { %>
                <span>Unknown</span>
                <% } %>
            </dd>
          </div>
          <div>
            <dt>Genre</dt>
            <dd>
              <% book.genres.map((genre) => { %>
              <a href="/genres/<%= genre.id %>/<%= genre.slug %>"><%= genre.name %></a>
              <% }) %>
            </dd>
          </div>
        </dl>
        <p><%= book.blurb %></p>
      </article>
      <hr />
      <section>
        <h2>More books by <%= book.author %></h2>
        <ul>
          <% moreBooksByAuthor.map(book => { %>
          <li>
            <a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
          </li>
          <% }) %>
        </ul>
      </section>
      <hr>
      <section>
        <h2>More <%= featuredGenre.name %> books</h2>
        <ul>
          <% moreBooksByGenre.map(book => { %>
          <li>
            <a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
          </li>
          <% }) %>
        </ul>
      </section>
      <hr>
      <section>
        <h2>More books from the <%= decade %>s</h2>
        <ul>
          <% moreBooksByDecade.map(book => { %>
          <li>
            <a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
          </li>
          <% }) %>
        </ul>
      </section>
      <hr>
    </main>
	</body>
</html>
