<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= book.title %></title>
		<link rel="stylesheet" href="/styles/index.css" />
		<script type="module" src="/scripts/dialogueController.js"></script>
	</head>
	<body>
		<%- include("../partials/header", { backAnchor: true }) %>
		<article>
			<header>
				<h2><%= book.title %></h2>
				<nav aria-label="Book actions">
					<button type="button" aria-label="Edit book">Edit</button>
					<div class="dialogue-wrapper">
						<dialog
							id="delete-book-dialog"
							aria-labelledby="delete-book-title"
							aria-describedby="delete-book-description"
						>
							<header>
								<h3 id="delete-book-title">Delete <%= book.title %>?</h3>
							</header>
							<section>
								<p id="delete-book-description">This will permanently delete <%= book.title %>.</p>
							</section>
							<footer class="dialogue-actions">
								<button autofocus aria-label="Close dialog">Close</button>
								<form
									class="method-override-wrapper"
									action="/books/<%= book.id %>/<%= book.slug %>?_method=DELETE"
									method="POST"
								>
									<button type="submit" aria-label="Delete book">Delete</button>
								</form>
							</footer>
						</dialog>
						<button aria-haspopup="dialog" aria-controls="delete-book-dialog">Delete</button>
					</div>
				</nav>
			</header>
			<dl>
				<div>
					<dt>Author</dt>
					<dd>
						<a href="/authors/<%= book.author_id %>/<%= book.author_slug %>">
							<%= book.author %>
						</a>
					</dd>
				</div>
				<div>
					<dt>Published</dt>
					<dd>
						<a href="/decades/<%= Math.floor(book.publication_year / 10) %>0s">
							<%= book.publication_year %>
						</a>
					</dd>
				</div>
				<div>
					<dt>Genre</dt>
					<dd>
						<% book.genres.map((genre) => { %>
						<a href="/genres/<%= genre.id %>/<%= genre.slug %>"><%= genre.name %></a>
						<% }) %>
					</dd>
				</div>
			</dl>
			<p><%= book.blurb %></p>
		</article>
		<hr />
	</body>
</html>
