<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= book.book_title %></title>
		<link rel="stylesheet" href="../../styles/index.css" />
	</head>
	<body>
		<%- include("../partials/header", { backAnchor: true }) %>
		<h2><%= book.book_title %></h2>
		<ul>
			<li><b>Published:</b> <%= book.publication_year %></li>
			<li><b>Fiction:</b> <%- book.is_fiction %></li>
			<li><b>Author:</b> <%= book.author %></li>
		</ul>
	</body>
</html>
