<link rel="stylesheet" href="/styles/table.css">
<table>
  <colgroup>
    <col class="col-author">
    <col class="col-count">
    <col class="col-year">
    <col class="col-country">
    <col class="col-genres">
  </colgroup>
	<thead>
		<tr>
			<th>Author</th>
			<th>Books</th>
			<th>Born</th>
			<th>Nationality</th>
			<th>Genres</th>
		</tr>
	</thead>
	<tbody>
		<% authors.map(author => { %>
		<tr>
			<td>
				<a href="authors/<%= author.id %>/<%= author.slug %>"><%= author.name %></a>
			</td>
			<td>
        <%= author.number_of_books %>
      </td>
			<td>
				<a href="decades/<%= Math.floor(author.birth_year / 10) %>0s"><%= author.birth_year %></a>
			</td>
			<td>
				<a href="countries/<%= author.country_id %>/<%= author.country_slug %>"><%= author.nationality %></a>
			</td>
			<%- include("./genresColumn", { genres: author.genres }) %>
		</tr>
		<% }) %>
	</tbody>
</table>