<table>
	<thead>
		<tr>
			<th>Author</th>
			<th>Born</th>
			<th>Nationality</th>
			<th>Books</th>
			<th>Genres</th>
		</tr>
	</thead>
	<tbody>
		<% authors.map(author => { %>
		<tr>
			<td><a href="authors/<%= author.author_id %>"><%= author.author_name %></a></td>
			<td><%= author.birth_year %></td>
			<td><a href="countries/<%= author.country %>"><%= author.nationality %></a></td>
			<td><%= author.number_of_books %></td>
			<%- include("./genresColumn", { data: author }) %>
		</tr>
		<% }) %>
	</tbody>
</table>
