<div class="table-wrapper">
	<table>
		<caption>
			<%= typeof caption !== 'undefined' ? caption : "" %>
		</caption>
		<colgroup>
			<col class="col-title" />
			<col class="col-author" />
			<col class="col-year" />
			<col class="col-genres" />
		</colgroup>
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Published</th>
				<th>Genres</th>
			</tr>
		</thead>
		<tbody>
			<% books.map((book) => { %>
			<tr>
				<td>
					<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
				</td>
				<td>
					<a href="/authors/<%= book.author_id %>/<%= book.author_slug %>"> <%= book.author %> </a>
				</td>
				<td class="text-centre">
					<a href="/decades/<%= Math.floor(book.publication_year / 10) + '0s' %>">
						<%= book.publication_year %>
					</a>
				</td>
				<%- include("./genresColumn", { genres: book.genres }) %>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>
