<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Publication Year</th>
			<th>Genres</th>
		</tr>
	</thead>
	<tbody>
		<% books.map((book) => { %>
		<tr>
			<td><a href="/books/<%= book.book_id %>"><%= book.title %></a></td>
			<td><a href="/authors/<%= book.author_id %>"><%= book.author %></a></td>
			<td>
				<a href="/decades/<%= Math.floor(book.publication_year / 10) + '0s' %>">
					<%= book.publication_year %>
				</a>
			</td>
			<%- include("./genresColumn", { data: book }) %>
		</tr>
		<% }) %>
	</tbody>
</table>
