<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Publication Year</th>
		</tr>
	</thead>
	<tbody>
		<% books.map((book) => { %>
		<tr>
			<td><a href="/books/<%= book.book_id %>"><%= book.title %></a></td>
			<td><a href="/authors/<%= book.author_id %>"><%= book.author %></a></td>
			<td><%= book.publication_year %></td>
			<td><%- book.category %></td>
		</tr>
		<% }) %>
	</tbody>
</table>
