<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="stylesheet" href="./styles/index.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<nav>
			<a href="/">Home</a>
			<a href="/books">All books</a>
			<a href="/authors">Authors</a>
			<a href="/genres">Genres</a>
			<a href="/books/new">Add new book</a>
		</nav>
		<ul>
			<h2>All books</h2>
			<% books.map((book) => { %>
			<li>
				<a href="/books/<%= book.book_id %>">
					<p><b>Title:</b> <%= book.book_title %></p>
					<p><b>Author:</b> <%= book.author %></p>
					<p><b>Published:</b> <%= book.publication_year %></p>
					<p><b>Category:</b> <%- book.category %></p>
				</a>
			</li>
			<% }) %>
		</ul>
	</body>
</html>
