<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="stylesheet" href="./styles/index.css" />
	</head>
	<body>
		<%- include('partials/header') %>
		<h2><%= title %></h2>
		<ul>
			<% genres.map((genre) => { %>
			<li>
				<a href="/genres/<%= genre.slug %>"><%= genre.genre %></a>
				(<%= genre.number_of_books %>)
			</li>
			<% }) %>
		</ul>
	</body>
</html>
