<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= author %></title>
		<link rel="stylesheet" href="../styles/index.css" />
	</head>
	<body>
		<%- include("partials/header", { backAnchor: true }) %>
		<h2><%= author %></h2>
		<ul>
			<% books.map((book) => { %>
			<li>
				<a href="/books/<%= book.book_id %>">
					<p><b>Title:</b> <%= book.book_title %></p>
					<p><b>Published:</b> <%= book.publication_year %></p>
					<p><b>Category:</b> <%- book.category %></p>
				</a>
			</li>
			<% }) %>
		</ul>
	</body>
</html>
