<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
	<body>
		<%- include("partials/header") %>
		<h2><%= title %></h2>
		<section>
			<h3>Featured books</h3>
			<ul>
				<% featuredBooks.map((book) => { %>
				<li>
					<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
				</li>
				<% }) %>
			</ul>
		</section>
	</body>
</html>
