<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
	<body>
		<%- include("partials/header") %>
		<h2><%= title %></h2>
		<section>
			<h3>Featured books</h3>
			<ul>
				<% featuredBooks.map(book => { %>
				<li>
					<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
				</li>
				<% }) %>
			</ul>
		</section>
		<section>
			<h3>Featured authors</h3>
			<ul>
				<% featuredAuthors.map(author => { %>
				<li>
					<a href="/authors/<%= author.id %>/<%= author.slug %>"><%= author.name %></a>
				</li>
				<% }) %>
			</ul>
		</section>
		<% featuredGenres.map(genre => { %>
		<section>
			<h3>Featured <%= genre.name %> books</h3>
			<ul>
				<% genre.books.map(book => { %>
				<li>
					<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
				</li>
				<% }) %>
			</ul>
			<a href="/genres/<%= genre.id %>/<%= genre.slug %>">More <%= genre.name %> books</a>
		</section>
	</body>
</html>
