<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="shortcut icon" href="assets/logo.svg" type="image/x-icon" />
		<link rel="stylesheet" href="/sass/main.css" />
	</head>
	<body class="site">
		<div id="root" class="site__wrapper">
			<%- include("partials/navigation") %>
			<main class="site__content">
				<header class="page-header">
					<h1 class="page-header__heading"><%= title %></h1>
				</header>
				<section>
					<h2>Featured books</h2>
					<ul>
						<% featuredBooks.map(book => { %>
						<li>
							<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
						</li>
						<% }) %>
					</ul>
				</section>

				<section>
					<h2>Featured authors</h2>
					<ul>
						<% featuredAuthors.map(author => { %>
						<li>
							<a href="/authors/<%= author.id %>/<%= author.slug %>"><%= author.name %></a>
						</li>
						<% }) %>
					</ul>
				</section>

				<% featuredGenres.map(genre => { %>
				<section>
					<h2>Featured <%= genre.name %> books</h2>
					<ul>
						<% genre.books.map(book => { %>
						<li>
							<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
						</li>
						<% }) %>
					</ul>
					<a href="/genres/<%= genre.id %>/<%= genre.slug %>">More <%= genre.name %> books</a>
				</section>

				<% }) %> <% featuredDecades.map(decade => { %>
				<section>
					<h2>Featured <%= decade.decade %>s books</h2>
					<ul>
						<% decade.books.map(book => { %>
						<li>
							<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
						</li>
						<% }) %>
					</ul>
					<a href="/decades/<%= decade.decade %>">More books from the <%= decade.decade %>s</a>
				</section>

				<% }) %>
			</main>
		</div>
	</body>
</html>
