<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<ul>
			<% books.map((book) => { %>
			<li>
				<p><b>Title:</b> <%= book.book_title %></p>
				<p><b>Author:</b> <%= book.author %></p>
				<p><b>Published:</b> <%= book.publication_year %></p>
				<p><b>Category:</b> <%- book.category %></p>
			</li>
			<% }) %>
		</ul>
	</body>
</html>
