<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="shortcut icon" href="assets/logo.svg" type="image/x-icon" />
		<link rel="stylesheet" href="/sass/main.css" />
	</head>
	<body class="site">
		<div id="root" class="site__wrapper">
			<%- include("partials/navigation") %>
			<main class="site__content">
				<header class="page-header">
					<h1 class="page-header__heading"><%= title %></h1>
				</header>
				<section class="featured">
					<div class="featured__feature">
						<h2 class="featured__heading">Featured books</h2>
						<ul class="featured__list">
							<% featuredBooks.map(book => { %>
							<li class="featured__list-item">
								<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
							</li>
							<% }) %>
						</ul>
					</div>
					<div class="featured__feature">
						<h2 class="featured__heading">Featured authors</h2>
						<ul class="featured__list">
							<% featuredAuthors.map(author => { %>
							<li class="featured__list-item">
								<a href="/authors/<%= author.id %>/<%= author.slug %>"><%= author.name %></a>
							</li>
							<% }) %>
						</ul>
					</div>
					<% featuredGenres.map(genre => { %>
					<div class="featured__feature">
						<h2 class="featured__heading">Featured <%= genre.name %> books</h2>
						<ul class="featured__list">
							<% genre.books.map(book => { %>
							<li class="featured__list-item">
								<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
							</li>
							<% }) %>
						</ul>
						<a class="featured__more" href="/genres/<%= genre.id %>/<%= genre.slug %>"
							>More <%= genre.name %> books</a
						>
					</div>
					<% }) %> <% featuredDecades.map(decade => { %>
					<div class="featured__feature">
						<h2 class="featured__heading">Featured <%= decade.decade %>s books</h2>
						<ul class="featured__list">
							<% decade.books.map(book => { %>
							<li class="featured__list-item">
								<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
							</li>
							<% }) %>
						</ul>
						<a class="featured__more" href="/decades/<%= decade.decade %>"
							>More books from the <%= decade.decade %>s</a
						>
					</div>
					<% }) %>
				</section>
			</main>
		</div>
	</body>
</html>
