<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/index.css" />
		<title>Inventory | <%= title %></title>
	</head>
	<body>
		<%- include("partials/header", { backAnchor: true }) %>
		<h2><%= title %></h2>
		<form action="/authors" method="post" id="new-author">
			<ul>
				<li>
					<label for="first-name">First name:</label>
					<input type="text" name="first-name" id="first-name" required />
				</li>
				<li>
					<label for="last-name">Surname:</label>
					<input type="text" name="last-name" id="last-name" required />
				</li>
				<li>
					<label for="birth-year">Birth year:</label>
					<input
						type="number"
						name="birth-year"
						id="birth-year"
						max="<%= new Date().getFullYear() %>"
					/>
				</li>
				<li>
					<label for="nationality">Nationality:</label>
					<input type="text" name="nationality" id="nationality" required />
					<ul id="nationality-suggestions"></ul>
				</li>
			</ul>
			<button type="submit">Add author</button>
		</form>
		<script type="application/json" id="nationalitiesData">
			<%- JSON.stringify(nationalities) %>
		</script>
		<script type="module">
			import enableAutoComplete from "../scripts/enableAutoComplete.js";

			enableAutoComplete({
				inputElementID: "nationality",
				suggestionListID: "nationality-suggestions",
				options: JSON.parse(document.getElementById("nationalitiesData").textContent),
				fieldName: "name",
			});
		</script>
	</body>
</html>
