<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="stylesheet" href="../styles/index.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<nav>
			<a href="/">Home</a>
			<a href="/books">All books</a>
			<a href="/authors">Authors</a>
			<a href="/genres">Genres</a>
		</nav>
		<a href="/books">Back</a>
		<form action="/books" method="post" id="new-book">
			<ul>
				<li>
					<label for="title">Book title:</label>
					<input type="text" name="title" id="title" required />
				</li>
				<li>
					<label for="author">Author:</label>
					<!-- <input type="hidden" id="author-id" name="author" /> -->
					<input type="text" id="author-name" required />
					<ul id="author-suggestions"></ul>
				</li>
				<li>
					<label for="genres">Genre(s):</label>
					<input type="text" name="genres" id="genres" />
					<ul id="genre-suggestions"></ul>
				</li>
				<li>
					<label for="publication-year">Publication year:</label>
					<input
						type="number"
						name="publication-year"
						id="publication-year"
						max="<%= new Date().getFullYear() %>"
					/>
				</li>
				<li>
					<input type="radio" id="fiction" name="isFiction" value="fiction" checked />
					<label for="fiction">Fiction</label>
					<input type="radio" id="non-fiction" name="isFiction" value="non-fiction" />
					<label for="non-fiction">Non-fiction</label>
				</li>
			</ul>
			<button type="submit">Add book</button>
		</form>
	</body>
	<script type="application/json" id="authorsData">
		<%- JSON.stringify(authors) %>
	</script>
	<script type="application/json" id="genresData">
		<%- JSON.stringify(genres) %>
	</script>
	<script type="module">
		import enableAutoComplete from "../scripts/enableAutoComplete.js";

		enableAutoComplete({
			inputElementID: "author-name",
			suggestionListID: "author-suggestions",
			options: JSON.parse(document.getElementById("authorsData").textContent),
			fieldName: "name",
		});
		enableAutoComplete({
			inputElementID: "genres",
			suggestionListID: "genre-suggestions",
			options: JSON.parse(document.getElementById("genresData").textContent),
			fieldName: "genre_name",
		});
	</script>
</html>
