<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
	<body>
		<%- include("../partials/header") %>
		<h2><%= title %></h2>
		<% Object.keys(centuries).forEach((century) => { %>
		<h3><%= century %>s</h3>
		<%- include("../partials/decadesTable", { century, decades: centuries[century] }) %> <% }) %>
	</body>
</html>
