<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= author.name %></title>
		<link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
		<link rel="stylesheet" href="/sass/main.css" />
		<script type="module" src="/scripts/dialogueController.js"></script>
		<script type="module" src="/scripts/form-handlers/editAuthorFormHandler.js"></script>
	</head>
	<body>
		<div id="root">
			<%- include("../partials/header", { backAnchor: true }) %>
			<main>
				<article>
					<header>
						<h1 id="title"><%= author.name %></h1>
						<nav aria-label="Author actions">
							<div class="dialogue-wrapper">
								<dialog
									id="edit-author-dialog"
									aria-labelledby="edit-author-title"
									class="dialogue"
								>
									<div class="dialogue__container">
										<header class="dialogue__header">
											<h2 id="edit-author-title" class="dialogue__heading">
												Editing <%= author.name %>
											</h2>
										</header>
										<section class="dialog__content">
											<form
												id="edit-author"
												class="method-override-wrapper"
												action="/authors/<%= author.id %>/<%= author.slug %>?_method=PUT"
												method="POST"
												class="form"
											>
												<fieldset id="name" class="form__fieldset">
													<div class="form__field">
														<label class="form__label" for="first-name">First name*</label>
														<input
															class="form__input form__input--alphanum"
															value="<%= author.first_name %>"
															type="text"
															name="firstName"
															id="first-name"
															required
														/>
														<div class="form__field-message display-none">
															<img
																src="/assets/icons/warning.png"
																alt=""
																class="icon icon--warning"
															/>
															<span class="form__field-message-content"></span>
														</div>
													</div>
													<div class="form__field">
														<label class="form__label" for="last-name">Surname*</label>
														<input
															class="form__input form__input--alphanum"
															value="<%= author.last_name %>"
															type="text"
															name="lastName"
															id="last-name"
															required
														/>
														<div class="form__field-message display-none">
															<img
																src="/assets/icons/warning.png"
																alt=""
																class="icon icon--warning"
															/>
															<span class="form__field-message-content"></span>
														</div>
													</div>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</fieldset>
												<div class="form__field">
													<label class="form__label" for="nationality">Nationality*</label>
													<input
														class="form__input form__input--alphanum"
														value="<%= author.nationality %>"
														type="text"
														name="nationality"
														id="nationality"
														required
													/>
													<ul id="nationality-suggestions" class="form__input-suggestions"></ul>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
												<div class="form__field">
													<label class="form__label" for="birth-year">Birth year</label>
													<input
														class="form__input form__input--alphanum"
														value="<%= author.birth_year %>"
														type="number"
														name="birthYear"
														id="birth-year"
														max="<%= new Date().getFullYear() %>"
													/>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
												<div class="form__field">
													<label class="form__label" for="biography">Biography</label>
													<textarea
														class="form__input form__input--alphanum form__input--textarea"
														name="biography"
														id="biography"
														cols="40"
														rows="5"
													>
<%= author.biography %></textarea
													>
													<span class="form__char-count"><%= author.biography.length %>/280</span>
													<div class="form__field-message display-none">
														<img
															src="/assets/icons/warning.png"
															alt=""
															class="icon icon--warning"
														/>
														<span class="form__field-message-content"></span>
													</div>
												</div>
											</form>
										</section>
										<footer class="dialogue__actions">
											<button autofocus class="form__button" aria-label="Close dialog">
												Close
											</button>
											<button
												class="form__button form__button--submit"
												form="edit-author"
												type="submit"
												aria-label="Save author edits"
											>
												Save
											</button>
										</footer>
									</div>
								</dialog>
								<button aria-haspopup="dialog" aria-controls="edit-author-dialog">Edit</button>
							</div>
							<div class="dialogue-wrapper">
								<dialog
									id="delete-author-dialog"
									aria-labelledby="delete-author-title"
									aria-describedby="delete-author-description"
									class="dialogue"
								>
									<div class="dialogue__container">
										<header class="dialogue__header">
											<h2 id="delete-author-title" class="dialogue__heading">
												Delete <%= author.name %>?
											</h2>
										</header>
										<section class="dialog__content">
											<p id="delete-author-description">
												This will also remove the following books by <%= author.name %>.
											</p>
											<ul>
												<% books.map((book) => { %>
												<li>
													<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
												</li>
												<% }) %>
											</ul>
										</section>
										<footer class="dialogue__actions">
											<button autofocus class="form__button" aria-label="Close dialog">
												Close
											</button>
											<form
												action="/authors/<%= author.id %>/<%= author.slug %>?_method=DELETE"
												method="POST"
												class="form method-override-wrapper"
											>
												<button
													type="submit"
													class="form__button form__button--delete"
													aria-label="Delete author"
												>
													Delete
												</button>
											</form>
										</footer>
									</div>
								</dialog>
								<button aria-haspopup="dialog" aria-controls="delete-author-dialog">Delete</button>
							</div>
						</nav>
					</header>
					<dl>
						<div>
							<dt>Birth year</dt>
							<dd>
								<% if (author.birth_year) { %>
								<a href="/decades/<%= Math.floor(author.birth_year / 10) %>0s">
									<%= author.birth_year %>
								</a>
								<% } else { %>
								<span>Unknown</span>
								<% } %>
							</dd>
						</div>
						<div>
							<dt>Nationality</dt>
							<dd>
								<a href="/countries/<%= author.country_id %>/<%= author.country_slug %>">
									<%= author.nationality %>
								</a>
							</dd>
						</div>
					</dl>
					<p><%= author.biography %></p>
				</article>
				<hr />
				<%- include("../partials/booksTable", { caption: `Books by ${author.name}`, books }) %>
			</main>
		</div>
	</body>
</html>
