<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= author.name %></title>
		<link rel="stylesheet" href="/styles/index.css" />
		<script type="module" src="/scripts/dialogueController.js"></script>
	</head>
	<body>
		<%- include("../partials/header", { backAnchor: true }) %>
		<article>
			<header>
				<h2><%= author.name %></h2>
				<nav aria-label="Author actions">
					<button type="button" aria-label="Edit author">Edit</button>
					<div class="dialogue-wrapper">
						<dialog
							id="delete-author-dialog"
							aria-labelledby="delete-author-title"
							aria-describedby="delete-author-description"
						>
							<header>
								<h3 id="delete-author-title">Delete <%= author.name %>?</h3>
							</header>
							<section>
								<p id="delete-author-description">
									This will also remove the following books by <%= author.name %>.
								</p>
								<ul>
									<% books.map((book) => { %>
									<li>
										<a href="/books/<%= book.id %>/<%= book.slug %>"><%= book.title %></a>
									</li>
									<% }) %>
								</ul>
							</section>
							<footer class="dialogue-actions">
								<button autofocus aria-label="Close dialog">Close</button>
								<form
									class="method-override-wrapper"
									action="/authors/<%= author.id %>/<%= author.slug %>?_method=DELETE"
									method="POST"
								>
									<button type="submit" aria-label="Delete author">Delete</button>
								</form>
							</footer>
						</dialog>
						<button aria-haspopup="dialog" aria-controls="delete-author-dialog">Delete</button>
					</div>
				</nav>
			</header>
			<p><%= author.biography %><</p>
		</article>
		<hr />
		<%- include("../partials/booksTable", { caption: `Books by ${author.name}`, books }) %>
	</body>
</html>
